*{
  margin: 0;
  padding:0;
  border:0;
  /*font-size: inherit;*/
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
}


body {
  padding: 50px;
  background-color: gray;
  font-family: 'Bree Serif', serif;
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}

h1 {
  text-align: center;
  color: black;
}

.controls {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  height: auto;
}

.reset {
  font-size: 20px;
  display:inline-block;
  background-color: chartreuse;
  border: 3px solid lightsalmon;
  border-radius: 5px;
}

.gameboard {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}


.hidden img {
  opacity: 0;
  cursor: pointer;
}

.card {
  background-color: lightsalmon;
}

div {
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin: 10px;
  float: left;
  display: block;
}

div img {
  height: 100px;
  width:100px;
  overflow:hidden;
  border-radius: 10px;
  cursor: pointer;
}
